.dataTables_scrollBody{
    min-height: 200px;
}
.table img,
.table video {
    height: 50px;
}

.select2-container .select2-search--inline .select2-search__field{
    height: auto;
    margin-top: 3px;
}

.avatar-letter{
    background: var(--iq-primary);
    font-size: initial;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*.select2-container--bootstrap4.select2-container--focus .select2-selection{*/
/*    box-shadow: none !important;*/
/*    cursor: text !important;*/
/*}*/
/*.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered{*/
/*    padding: 0;*/
/*}*/
/*.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered .select2-search__field{*/
/*    width: 80% !important;*/
/*    margin: 0px;*/
/*    height: auto;*/
/*    padding: 0.175rem 0.55rem;*/
/*}*/
/*.select2-selection__choice{*/
/*    margin: 0.4rem !important;*/
/*}*/
/*.select2-container .select2-selection--multiple{*/
/*    display: inline-block;*/
/*    padding: 0.2rem;*/
/*    height: auto !important;*/
/*    cursor: text;*/
/*}*/
/*.select2-container--bootstrap4.select2-container--open .select2-selection{*/
/*    border: 1px solid lightgray !important;*/
/*    border-radius: 3px !important;*/
/*}*/
/*.cursor-pointer{*/
/*    cursor: pointer !important;*/
/*}*/

/*.select2.select2-container {*/
/*    width: 100% !important;*/
/*}*/

/*.select2.select2-container .select2-selection {*/
/*    border: 1px solid #ccc;*/
/*    -webkit-border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    border-radius: 3px;*/
/*    height: 34px;*/
/*    margin-bottom: 15px;*/
/*    outline: none !important;*/
/*    transition: all .15s ease-in-out;*/
/*}*/

/*.select2.select2-container .select2-selection .select2-selection__rendered {*/
/*    color: #333;*/
/*    line-height: 32px;*/
/*    padding-right: 33px;*/
/*}*/

/*.select2.select2-container .select2-selection .select2-selection__arrow {*/
/*    background: #f8f8f8;*/
/*    border-left: 1px solid #ccc;*/
/*    -webkit-border-radius: 0 3px 3px 0;*/
/*    -moz-border-radius: 0 3px 3px 0;*/
/*    border-radius: 0 3px 3px 0;*/
/*    height: 32px;*/
/*    width: 33px;*/
/*}*/

/*.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {*/
/*    background: #f8f8f8;*/
/*}*/

/*.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {*/
/*    -webkit-border-radius: 0 3px 0 0;*/
/*    -moz-border-radius: 0 3px 0 0;*/
/*    border-radius: 0 3px 0 0;*/
/*}*/

/*.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {*/
/*    border: 1px solid #34495e;*/
/*}*/

/*.select2.select2-container .select2-selection--multiple {*/
/*    height: auto;*/
/*    min-height: 34px;*/
/*}*/

/*.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {*/
/*    margin-top: 0;*/
/*    height: 32px;*/
/*}*/

/*.select2.select2-container .select2-selection--multiple .select2-selection__rendered {*/
/*    display: block;*/
/*    padding: 0 4px;*/
/*    line-height: 29px;*/
/*}*/

/*.select2.select2-container .select2-selection--multiple .select2-selection__choice {*/
/*    background-color: #f8f8f8;*/
/*    border: 1px solid #ccc;*/
/*    -webkit-border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    border-radius: 3px;*/
/*    margin: 4px 4px 0 0;*/
/*    padding: 0 6px 0 22px;*/
/*    height: 24px;*/
/*    line-height: 24px;*/
/*    font-size: 12px;*/
/*    position: relative;*/
/*}*/

/*.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 22px;*/
/*    width: 22px;*/
/*    margin: 0;*/
/*    text-align: center;*/
/*    color: #e74c3c;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*}*/

/*.select2-container .select2-dropdown {*/
/*    background: transparent;*/
/*    border: none;*/
/*    !*margin-top: -5px;*!*/
/*}*/

/*.select2-container .select2-dropdown .select2-search {*/
/*    padding: 0;*/
/*}*/

/*.select2-container .select2-dropdown .select2-search input {*/
/*    outline: none !important;*/
/*    border: none !important;*/
/*    padding: 4px 6px !important;*/
/*    border-radius: 0;*/
/*}*/

/*.select2-container .select2-dropdown .select2-results {*/
/*    padding: 0;*/
/*}*/

/*.select2-container .select2-dropdown .select2-results ul {*/
/*    background: #FFFFFF !important;*/
/*    border: none !important;*/
/*    color: black !important;*/
/*}*/

/*.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {*/
/*    background-color: #86c240;*/
/*}*/

.d-none-after::after {
    display: none !important;
}

.hover-border {
    border: 2px solid transparent;
    border-radius: .25rem;
}

.hover-border:hover,
.hover-border.active {
    border: 2px solid aliceblue;
}